.navbar {
    padding: 10px 30px;
}
.create-heading {
    text-align: center;
    margin-top: 100px;
}
.form-div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px 10px 30px 10px;
    box-shadow: 5px 0px 18px silver;
    margin-top: 30px;
}
@media(max-width: 576px) {
    .form-div {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width: 577px) and (max-width: 767px) {
    .form-div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width: 767px) and (max-width: 991px) {
    .form-div {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
.username-input {
    width: 90%;
}
.action-button {
    margin-top: 20px;
}